# API Keys
google.plist

# OSX Finder
.DS_Store

# Xcode per-user config
project.xcworkspace/
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
*.xcuserstate
xcuserdata
*.storyboard

# Build products
build/
*.o
*.LinkFileList
*.hmap

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep
